<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token_ConsumerKey" value="c7g4rHrnerkTPBjdba0Kw"/>
    <add key="token_ConsumerSecret" value="1IO7eiGYSLaKKpErzfbgRYAEF5KUe7LZrtMz2FAgSFI"/>
    <add key="token_AccessToken" value="2159075078-cRSaEeEgFWThXBx49tykpGyILtkxlhefdFcisk8"/>
    <add key="token_AccessTokenSecret" value="r9XobK34W2OL5UUVdyDLq5E34t8Xe0AVEljRWdju6m491"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>