<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!-- 
  write your connection strings here, for quick replacement:
  KENNY: Server=NEXUS-LAPTOP\KENNYSQL;Database=twitcrunch;Trusted_Connection=True;
  ILYA: Server=Admin-PC\SQLEXPRESS;Database=twitcrunch;Trusted_Connection=True;
  -->
  <connectionStrings>
    <add name="TwitCrunchDataBase"
     providerName="System.Data.SqlClient"

     connectionString="Server=Admin-PC\SQLEXPRESS;Database=twitcrunch;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>